<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">









<title>First post!</title>

<meta name="generator" content="Hugo 0.47" />


<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/owl.carousel.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/airspace-local-fonts.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/airspace.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/style.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/ionicons.min.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/animate.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/responsive.css" />
<link rel="stylesheet" href="https://amunizp.gitlab.io/c4ad-hugo/css/syntax.css" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="https://amunizp.gitlab.io/c4ad-hugo/js/bootstrap.min.js"></script>
<script src="https://amunizp.gitlab.io/c4ad-hugo/js/owl.carousel.min.js"></script>
<script src="https://amunizp.gitlab.io/c4ad-hugo/js/plugins.js"></script>
<script src="https://amunizp.gitlab.io/c4ad-hugo/js/min/waypoints.min.js"></script>
<script src="https://amunizp.gitlab.io/c4ad-hugo/js/jquery.counterup.js"></script>


<script src="https://amunizp.gitlab.io/c4ad-hugo/js/main.js"></script>



</head>
<body>

	
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://amunizp.gitlab.io/c4ad-hugo/">
              <img src="https://amunizp.gitlab.io/c4ad-hugo/img/logo.png" alt="C&lt;sup&gt;4&lt;/sup&gt;AD&lt;sub&gt;CIC&lt;/sub&gt; Logo">
            </a>
          </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://amunizp.gitlab.io/c4ad-hugo/">Home</a></li>
              
                <li><a href="https://amunizp.gitlab.io/c4ad-hugo/post/">Blog</a></li>
              
                <li><a href="https://amunizp.gitlab.io/c4ad-hugo/service/">Service</a></li>
              
                <li><a href="https://amunizp.gitlab.io/c4ad-hugo/work/">Partners</a></li>
              
                <li><a href="https://amunizp.gitlab.io/c4ad-hugo/contact/">Contact</a></li>
              
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>


	<div class="post">
	  
	  <section class="section" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
	          <div class="block">
							
	            <h1>First post!</h1>
	            <div class="post-info-wrapper">
	              <p class="italic">By <span class="bold"></span> on <span class="bold">6 January 2015</span></p>
	            </div>
	            <hr />
	            <p><p>{{&lt; openstreetmap mapName=&ldquo;c4ad-cic_240326&rdquo; &gt;}}</p>

<p>This is my first post, how exciting!</p>
</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	</div>
	<p class="center-text" style="padding: 30px;">
	  <a class="btn btn-main" href="https://amunizp.gitlab.io/c4ad-hugo//blog">Back to blog</a>
	</p>

	
		

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>A Community Interest Company</h2>
          <p>C<sup>4</sup>AD<sub>CIC</sub> is registered as a Private company limited by guarantee without share capital Community Interest Company (CIC). In short: not for profit and asset locked. The company's activities will provide benefit to those living in the South West London area and beyond with the use of Science, Technology, Engineering, Arts and Maths. STEM needs Arts to be successful so at C<sup>4</sup>AD<sub>CIC</sub> S.T.E.A.M. is promoted: the aim is to <b>demystify STEAM</b>.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>


	

	
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            
            <li><a href="https://amunizp.gitlab.io/c4ad-hugo/">Home</a></li>
            
            <li><a href="https://amunizp.gitlab.io/c4ad-hugo/post">Blog</a></li>
            
            <li><a href="https://amunizp.gitlab.io/c4ad-hugo/service">Service</a></li>
            
            <li><a href="https://amunizp.gitlab.io/c4ad-hugo/contact">Contact us</a></li>
            
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by Themefisher. All rights reserved.</p>
	<p>Modifications, changes and content by C<sup>4</sup>AD<sub>CIC</sub>. <a href = "https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 </a></p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
