/* From https://blog.hubspot.com/website/what-is-an-iframe 
https://benmarshall.me/responsive-iframes/ */
/*.container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}*/
iframe {
  /*position: relative;*/
  /*top: 0;
  left: 0;*/
  height: 600px; 
  width: 100%;
  /*aspect-ratio: 16/9;*/
  border: 2px ;
  /*loading: lazy;*/
  frameborder: 2;
}
