


{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title"><a href="{{ "/" | relURL }}">Go Home</a></h1>
       <p> “Their 'magic' is Art, delivered from many of its human limitations. ”
― J.R.R. Tolkien, The Silmarillion </p>
      </div>
    </main>
{{ end }}


