{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>
            <li>
              <i class="fa fa-envelope-o"></i> <a href="mailto:{{ .box.email }}?subject=C4ADWebContact&body=Hi%20Andres,%0D%0AI%20found%20your%20website%20and%20wanted%20to%20drop%20you%20a%20line.%0D%0AGive%20me%20a%20call%20on:%20YOUR-NUMBER-HERE%20when%20you%20are%20next%20available.%0D%0ARegards,%0D%0A">E-mail.</a>
            </li>
            <li>
              <i class="fa fa-phone"></i><a href="tel:{{ .box.phone }}">Mobile.</a></p>
            </li>
            <li>
              <i class="fa fa-phone"></i><a href="tel:{{ .box.landline }}">Land line.</a></p>
            </li>
            <li>
              <i class="fa fa-comment"></i><a href="xmpp:{{ .box.xmpp }}?message">XMPP/Jabber.</a></p>
            </li>
            <li>
              <i class="fa fa-comment"></i>irc: amunizp</p>
            </li>        
            <li>
              <i class="fa fa-comment"></i>fediverse: <a rel='me' href='https://fosstodon.org/@amunizp'>Mastodon</a></p>
            </li>    
            <li>
             <ul class="social-icons">
              <li>
               <i class="fa fa-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/andresmp/ " title="Linkedin">andresmp</a>
              </li>
              <li>
               <i class="fa fa-gitlab"></i><a target="_blank" href="https://gitlab.com/amunizp " title="Gitlab">@amunizp</a>
              </li> 
              <li>
               <i class="fa fa-github"></i><a target="_blank" href="https://github.com/amunizp " title="Gitlab">@amunizp</a>
              </li>   
             </ul>
            </li>

          </ul>

        </div>


      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .maps.title }}</h2>
           <div class=google-map>
            <iframe width=100% height=600px frameborder=0 src="https://umap.openstreetmap.fr/en/map/c4ad-cic_240326?scaleControl=true&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=true&tilelayersControl=null&embedControl=false&datalayersControl=null&onLoadPanel=none&captionBar=true&fullscreenControl=null#13/51.4209/-0.3110"></iframe>
            </div>
        </div>    



      </div>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box2.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box2.address }}
            </li>
            <li>
              <i class="fa fa-hand-o-right"></i><a target="_blank" href="{{ .box2.url }}" title="">{{ .box2.name }}</a>
            </li>
          </ul>

        </div>


      </div>
<!--      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box3.title }}</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>{{ .box3.address }}
            </li>

          </ul>

        </div>    



      </div>-->
    </div>

  </div>
</section>

{{ end }}
