<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by Themefisher. All rights reserved.</p>
	<p>Modifications, changes and content by C<sup>4</sup>AD<sub>CIC</sub>. <a href = "https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0 </a></p>
        <!--
        <p>Special thanks to <a href = "http://skylab.org/">Skylab </a> for their web hosting.</p>
         -->
      </div>
    </div>
  </div>
</footer>
