 
 <!-- Facebook and linkedin -->
<meta property="og:title" content="C4AD" />
<meta property="og:description" content="Science, prototyping and testing  C4AD supports businesses with scientific research, product testing and development." />
<meta property="og:url" content="http://c4ad.eu" />
<meta property="og:image" content="http://c4ad.eu/img/Logo.png" />

<!-- Twitter and mastodon-->

<meta name="twitter:card" content="C4AD">
<meta property="twitter:url" content="http://c4ad.eu">
<meta name="twitter:title" content="C4AD">
<meta name="twitter:description" content="Science, prototyping and testing  C4AD supports businesses with scientific research, product testing and development.">
<meta name="twitter:image" content="http://c4ad.eu/img/Logo.png">


