{{ partial "global-header.html" . }}


<!-- Clients Logo Section Start -->
<section id="clients-logo2-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
         <div class="marquee">
          <div>
           <span class="clients-logo-img">  
                       {{ range .Site.Data.work.clients }}
            
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
           
            {{ end }}
           </span>
          <!-- <span>First time You spin me right round, baby. Like a record, baby.</span>
           <span>Second time You spin me right round, baby. Like a record, baby.</span>
           -->

          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Clients Logo Section Start -->
<section id="clients-logo2-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
         <div class="marquee">
          <div>
           <span class="clients-logo-img">  
                       {{ range .Site.Data.work.clients2 }}
            
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
           
            {{ end }}
           </span>
          <!-- <span>First time You spin me right round, baby. Like a record, baby.</span>
           <span>Second time You spin me right round, baby. Like a record, baby.</span>
           -->

          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo2-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
         <div class="marquee">
          <div>
           <span class="clients-logo-img">  
                       {{ range .Site.Data.work.clients3 }}
            
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
           
            {{ end }}
           </span>
          <!-- <span>First time You spin me right round, baby. Like a record, baby.</span>
           <span>Second time You spin me right round, baby. Like a record, baby.</span>
           -->

          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ if isset .Site.Data.work "call" }}
  {{ partial "call-to-action.html" .Site.Data.work.call }}
{{ end}}
