
{{ partial "global-header.html" . }}

{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title"><a href="{{ "/" | relURL }}">Go Home</a></h1>
      </div>
    </main>
{{ end }}





{{ if isset .Site.Data.work "call" }}
  {{ partial "call-to-action.html" .Site.Data.work.call }}
{{ end}}




